**/.env
**/.git
**/.gitignore
**/.vscode
**/bin
**/docker-compose*
**/Dockerfile*
**/terraform*
LICENSE
AUTHORS
CONTRIBUTING.md
README.md

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
